openclaw-infra/n8n-webhook-keepalive.json
{
  "name": "Telegram Webhook Keepalive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getWebhookInfo",
        "options": {}
      },
      "name": "Check Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-webhook-url-empty",
              "leftValue": "={{ $json.result.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "Webhook Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/setWebhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: 'https://' + $env.N8N_HOST + '/webhook/telegram' }) }}",
        "options": {}
      },
      "name": "Re-register Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "condition-pending-high",
              "leftValue": "={{ $json.result.pending_update_count }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "High Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/setWebhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: 'https://' + $env.N8N_HOST + '/webhook/telegram', drop_pending_updates: true }) }}",
        "options": {}
      },
      "name": "Reset Webhook (drop pending)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400]
    },
    {
      "parameters": {},
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1130, 500]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [{ "node": "Check Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Check Webhook": {
      "main": [
        [{ "node": "Webhook Missing?", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Missing?": {
      "main": [
        [{ "node": "Re-register Webhook", "type": "main", "index": 0 }],
        [{ "node": "High Pending?", "type": "main", "index": 0 }]
      ]
    },
    "High Pending?": {
      "main": [
        [{ "node": "Reset Webhook (drop pending)", "type": "main", "index": 0 }],
        [{ "node": "No Action Needed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Monitors Telegram webhook health every 4 hours and auto-re-registers if missing or stale."
  }
}